header {
  background-color: lightgray;
  font-size: 35px;
  font-weight: bolder;
  font-family: 'Poiret One', cursive;
  margin-bottom: 15px;
  padding-left: 15px;
}

body {
  background-color: lightgrey;
  color: black;
  font-family: 'Great Vibes', cursive;
}

#quotebox {
  background-color: white;
  border-radius: 20px;
  max-width: 80%;
  border: lightgrey 1px solid;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#the-quote {
  font-size: 30px;
  font-family: 'Great Vibes', cursive;
}

#the-source {
  font-size: 14px;
}

#new-quote {
  color: white;
  float: right;
  background-color: black;
  cursor: pointer;
}
#new-quote:hover {
    /* Start the shake animation and make the animation last for 2 seconds */
    animation: shake 2s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fa-twitter-square {
  font-size: 20px !important;
  color: black !important;
  padding: 8px !important;
  margin-left: 10px !important;
  -webkit-transition: font-size 1s; /* Safari */
  transition: font-size 1s;
}

.fa-twitter-square:hover {
    font-size: 30px !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}
